spring:
  application:
    name: loyalt
  devtools:
    restart:
      enabled: true
      poll-interval: 1s
      quiet-period: 400ms

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
